nav {
  border-bottom: 3px solid #9abbc4;
}
* {
  margin: 0;
  padding: 0;
}

nav > ul {
  position: absolute;
  display: flex;
  width: 98%;
  flex-direction: row;
  justify-content: space-between;
  background: #cbdee2;
  margin: 0 auto;
  padding: 20px;
  height: 10px;
  align-items: center;
}

/* .submenu {
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: center;
} */
/*nav > ul > li {
  list-style: none;
  padding: 8px 16px;
}

nav > ul > li a {
  text-decoration: none;
  border: 6px solid rgb(217, 219, 226);
  color: #222222;
  background-color: rgb(208, 210, 218);
  padding: 4px;
  border-radius: 5px;
} */
.iconoYou {
  margin-top: 5px;
  margin-bottom: auto;
  height: 50px;
  width: auto;
}
ul {
  position: absolute;
  list-style: none;
}
#menu li > a {
  background-color: grey;
  color: white;
  border-radius: 3px;
  padding: 10px;
  display: block;
  text-decoration: none;
  min-width: 100px;
}
#menu li > a:hover {
  color: #000;
  background-color: #eaeaea;
}
#menu > li {
  text-align: center;
}
#menu > li > ul {
  display: none;
}
#menu > li:hover > ul {
  display: block;
}
