.footerContainer {
  display: flex;
  text-align: center;
  border-top: 1px solid #504f4f;
  flex-direction: row;
  justify-content: center;
  background: #dddddd;
  margin: 0;
  padding: 10px;
  height: 100px;
  align-items: center;
}

.iconoYou {
  width: 50px;
  margin-right: 15px;
}
