.pageHome {
  /* object-fit: contain; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "lobster_twobold_italic";
}
.formulario {
  width: auto;
  height: auto;
  box-shadow: 2px 2px 10px #666;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 1rem;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
}

.firstSearch {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgb(61, 82, 139);
  background: rgba(97, 59, 59, 0.4);
  font-size: 25px;
}

.firstSearchForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.firstSearchForm input[type="text"] {
  font-size: 15px;
  text-align: center;
  height: 3vh;
  width: 20vw;
  border-radius: 5px;
  margin: 20px;
  background: whitesmoke;
}

.firstSearchForm input[type="date"] {
  display: flex;
  height: 3vh;
  width: 10vw;
  border-radius: 5px;
  background: whitesmoke;
}

.firstSearchForm button {
  font-size: 17px;
  font-weight: bold;
  border-radius: 5px;
  height: 5vh;
  width: 8vw;
  margin: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

.firstSearchForm button:hover {
  background: #c6eef8;
}

.firstSearchForm button:active {
  background: whitesmoke;
}

#titulo {
  margin-top: 10px;
  font-size: 45px;
}

.firstDatesContainer {
  display: flex;
}
.searchDates {
  padding-left: 5px;
  padding-right: 5px;
}

@media screen and (max-width: 1300px) {
  .firstSearchForm input[type="text"] {
    text-align: center;
    height: 30px;
    width: 250px;
  }

  .firstSearchForm input[type="date"] {
    height: 25px;
    width: 150px;
    border-radius: 5px;
    background: whitesmoke;
  }

  .firstSearchForm button {
    font-size: 13px;
    height: 35px;
    width: 70px;
  }
}

@media screen and (max-width: 700px) {
  .firstDatesContainer label {
    font-size: 20px;
  }
  #titulo {
    font-size: 30px;
  }
}

@media screen and (max-width: 430px) {
  #titulo {
    margin-top: 10px;
    font-size: 25px;
  }
}
