/* MISCELANEA */

.previewContainer,
.filterContainer .otrosFiltros,
.showHomeContainer,
.createHomeContainer,
.updateHomeContainer,
.myHomesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagination,
.moreFilters,
.searchFilters {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  padding: 20px;
}

.pagination .back {
  background: url("../icons/double-left-arrows-symbol.png") no-repeat;
  background-size: contain;
  height: 2vh;
  width: 1vw;
  border: none;
  margin: 0 10px 0 0;
  cursor: pointer;
  transition: all 0.3s;
}

.pagination .forward {
  background: url("../icons/fast-forward-double-right-arrows-symbol.png")
    no-repeat;
  background-size: contain;
  height: 2vh;
  width: 1vw;
  border: none;
  margin: 0 0 0 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.pagination button:hover {
  transform: scale(1.1);
}

.boyCat {
  background: url("../icons/okInqui1.png") no-repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
}

/* ESTILOS DE SEARCHPAGE */

.filterContainer,
.showMap,
.createHomeForm form,
.homeFormOptions,
.homePicker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filterContainer {
  position: absolute;
  z-index: 2;
  background-color: whitesmoke;
  box-shadow: 1px 2px 1px 2px rgba(150, 150, 150, 0.75);
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 7vh;
  padding: 10px;
  left: 9vw;
  height: 400px;
  width: 300px;
}

.filterContainer label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.filterContainer label p {
  margin: 10px;
}

.filterContainer .otrosFiltros {
  margin-bottom: 10px;
  margin-top: 15px;
}

.moreFilters {
  height: 3.5vh;
  border-radius: 5px;
  transition: all 0.3s;
  border: 1px black solid;
  padding: 5px;
  margin-right: 5px;
  background: rgb(235, 235, 235);
  cursor: pointer;
}

.moreFilters:hover {
  background: #f5c634;
}

.moreFilters:active {
  background: whitesmoke;
}

.searchButton {
  background: url("../icons/magnifying-glass.png") no-repeat;
  background-size: contain;
  border: none;
  height: 3vh;
  width: 1.5vw;
  padding: 10px;
  margin: 0 20px 0 15px;
  cursor: pointer;
  transition: all 0.3s;
}

.searchButton:hover {
  transform: scale(1.1);
}

.searchFilters input[type="text"] {
  height: 3vh;
  font-size: 15px;
  padding-right: 10px;
  margin-right: 3px;
  border-radius: 5px;
}

.searchDate {
  display: flex;
  flex-direction: column;
}

.searchResults {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.searchResults a:link,
a:visited {
  text-decoration: none;
  color: black;
}

.result {
  width: 800px;
  height: 25vh;
  transition: all 0.3s;
  background: whitesmoke;
  box-shadow: 1px 2px 3px 2px rgba(150, 150, 150, 0.75);
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  align-items: center;
  margin: 10px;
}

.result:hover {
  transform: scale(1.02);
  color: black;
}

.result:active {
  background: #f5c634;
}

.result ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.result li {
  padding: 5px;
}

.pisoImagen {
  background: url("../icons/houseIreneFlorentina.jpg") no-repeat;
  width: 150px;
  height: 150px;
  background-size: cover;
  border: 1px solid rgb(150, 150, 150);
  box-shadow: inset 2px 3px 5px 0 rgba(150, 150, 150, 0.75);
}

/* ESTILOS DE SHOWHOME */

.showHomePage,
.firstInputs,
.scoreHomeBooking {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.showHomePage {
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.showMap {
  margin-top: 118px;
  margin-bottom: auto;
  border: 1px solid black;
  border-radius: 5px;
  height: 500px;
  width: 500px;
  background: whitesmoke;
  box-shadow: 1px 2px 3px 2px rgba(150, 150, 150, 0.75);
  margin-right: 30px;
}

.showMap h3 {
  font-family: "lobster_twobold_italic", sans-serif;
  font-size: 20px;
}

.homeOwner {
  color: black;
  border: 1px solid black;
  font-weight: bold;
  border-radius: 5px;
  max-height: 40px;
  width: 90px;
  margin: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

.homeOwner:hover {
  background: #f5c634;
}

.homeOwner:active {
  background: whitesmoke;
}

.showHomeContainer {
  flex-direction: row;
  justify-content: flex-start;
}

.showHomeContainer .showMap {
  margin-top: 0;
}

.showHomeContent ul {
  list-style: none;
  padding-left: 0;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.showHomeContent .showHomeStars {
  margin: 20px 0 10px 0;
}

.showHomeData {
  display: flex;
  align-items: center;
  margin-top: 35px;
}

/* ESTILOS DE CREATEHOME */

.createHome {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.previewCreate {
  border-radius: 5px;
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.createHomeContainer {
  display: flex;
  flex-direction: row;
}

.createHomeContainer .showMap {
  margin-top: 0;
}

.createHomeForm h1 {
  font-size: 30px;
}

.createHomeForm,
.updateHomeContent,
.showHomeContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  border: 1px solid black;

  box-shadow: 1px 2px 3px 2px rgba(150, 150, 150, 0.75);
  background: whitesmoke;
}

.createHomeForm input:not([type="checkbox"]) {
  height: 3vh;
  min-width: 20vw;
  margin-top: 15px;
  border-radius: 5px;
}

.homeFormOptions {
  margin: 15px;
}

.publicarHome {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  width: 80px;
  height: 35px;
  transition: all 0.3s;
  cursor: pointer;
}

.publicarHome:hover {
  background: #f5c634;
}

.publicarHome:active {
  background: whitesmoke;
  transform: scale(0.99);
}

.errorCreacion {
  color: #781d0c;
  font-weight: bold;
}

/* ESTILOS DE UPDATEHOME */

.updateHomeContent ul {
  list-style: none;
  padding-left: 0;
}

.updateHomeContent form input:not([type="checkbox"]) {
  height: 25px;
  min-width: 150px;
  margin-top: 15px;
  border-radius: 5px;
}

.updateHomeContent form textarea {
  margin-top: 15px;
}

.updateHomeFlex {
  display: flex;
  flex-direction: row;
}

.updateHomeFlex .showMap {
  margin-top: 0;
}

.firstInputs fieldset {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

.editButton1 {
  background: url("../icons/edit.png") no-repeat;
  background-size: contain;
  width: 35px;
  height: 35px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.editButton2 {
  background: url("../icons/return.png") no-repeat;
  background-size: contain;
  width: 35px;
  height: 35px;
  border: none;
  cursor: pointer;
  margin-bottom: 5px;
  transition: all 0.3s;
}

.editButton1:hover,
.editButton2:hover {
  transform: scale(1.09);
}

.editButton1:active,
.editButton2:active {
  transform: scale(0.97);
}

.deleteHomeButton {
  border: 1px solid black;
  border-radius: 5px;
  width: 60px;
  height: 20px;
  cursor: pointer;
  background: #978e8e;
  color: whitesmoke;
  font-weight: bold;
  transition: all 0.3s;
}

.updateHomeButtons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.updateHomeButtons button {
  border: 1px solid black;
  border-radius: 5px;
  width: 65px;
  height: 25px;
  font-weight: bold;
  transition: all 0.3s;
}

.updateHomeButtons button:hover {
  background: #8b8981;
}

.updateHomeButtons button:active {
  background: whitesmoke;
}

.deleteHomeButton:hover {
  transform: scale(1.1);
}

.obiWanBanner {
  background: url("../icons/obiWan.gif") no-repeat;
  background-size: cover;
  width: 35vw;
  height: 30vh;
  margin-top: 75px;
  border-radius: 5px;
  border: 3px black solid;
}

/* ESTILOS DE MYHOMES */

.myHomesContainer {
  width: 30vw;
}

.myHomesContainer h1 {
  margin-bottom: 0;
}

.myHomes {
  background: whitesmoke;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30vw;
  height: 10vh;
  margin-bottom: 15px;
  box-shadow: 1px 2px 3px 2px rgba(150, 150, 150, 0.75);
}

.myHomesContainer ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.myHomesContainer a {
  border: 1px solid black;
  border-radius: 5px;
  height: 3vh;
  width: 10vw;
  padding: 5px;
  transition: all 0.3s;
}

.myHomesContainer a:hover {
  background: #f5c634;
}

.myHomesContainer a:active {
  background: whitesmoke;
  transform: scale(0.99);
}

.myHomeData {
  display: flex;
  align-items: flex-start;
  padding: 25px 0 10px 0;
}

.myHomeData ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30px;
}

/* ESTILOS DE HOMEBOOKINGS */

.homeBookingsContent {
  background: whitesmoke;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
}

.homeBookingsContent ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.homeBookingsContent p {
  margin-top: 0;
}

.scoreHomeBooking {
  height: 25px;
}

@media screen and (max-width: 1300px) {
  .previewCreate {
    width: 100px;
    height: 100px;
  }
  .createHomeForm {
    width: 400px;
    height: 650px;
  }
  .createHomeForm textarea {
    width: 250px;
    height: 55px;
  }
  .showMap {
    height: 320px;
    width: 320px;
    margin-right: 20px;
  }
  .showHomeContent {
    height: 600px;
    width: 400px;
  }
  .showHomeData ul {
    margin-left: 15px;
  }
  .pisoImagen {
    width: 125px;
    height: 125px;
  }
  .searchFilters input[type="text"] {
    height: 25px;
    width: 110px;
  }
  .result {
    width: 550px;
    height: 25vh;
  }
  .filterContainer {
    top: 0;
    left: 20px;
    height: 500px;
    width: 200px;
  }

  .filterContainer label {
    flex-direction: column;
  }

  .filterContainer label p {
    margin: 10px;
  }

  .filterContainer .otrosFiltros {
    flex-direction: row;
  }
}

@media screen and (max-width: 700px) {
  .createHomeForm {
    width: 350px;
    height: 620px;
  }
  .createHomeForm textarea {
    width: 200px;
    height: 50px;
  }
  .showMap {
    height: 220px;
    width: 220px;
    margin-right: 10px;
  }
  .searchFilters input[type="text"] {
    height: 25x;
    width: 80px;
  }
  .showHomeData {
    display: flex;
    flex-direction: column;
  }
  .showHomeContent {
    height: 700px;
    width: 250px;
  }
  .result {
    width: 400px;
    height: 25vh;
  }
  .result ul {
    font-size: 13px;
  }
  .pisoImagen {
    width: 100px;
    height: 100px;
  }
  .filterContainer {
    top: 0;
    left: 20px;
    height: 500px;
    width: 200px;
  }
}

@media screen and (max-width: 430px) {
  /* .previewContainer{
    display: none;
  } */
  .showMap {
    display: none;
  }
  #direccionShow {
    margin-top: 0;
  }
  .showHomeContent {
    height: 500px;
    width: 320px;
  }
  .showHomeData {
    margin-top: 15px;
    font-size: 12px;
    display: flex;
    flex-direction: row;
  }
  .showHomePage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .searchFilters input[type="text"] {
    height: 20x;
    width: 55px;
  }
  .result {
    width: 300px;
    height: 20vh;
  }
  .result ul {
    font-size: 10px;
    text-align: justify;
    width: 110px;
  }
  .pisoImagen {
    width: 90px;
    height: 90px;
  }
  .myHomesContainer h1 {
    font-size: 20px;
  }
  .myHomesContainer {
    width: 300px;
    height: 300px;
  }
  .myHomesContainer .pagination {
    padding: 5px;
  }
  .myHomes {
    width: 250px;
    height: 150px;
    font-size: 12px;
  }
  .myHomes a {
    height: 35px;
  }
  .myHomes ul {
    width: 120px;
    text-align: justify;
  }
  .updateHomeContainer h1 {
    margin-top: 0;
  }
  .updateHomeContent {
    width: 350px;
  }
  .myHomeData {
    font-size: 12px;
  }
  .editButton1,
  .editButton2 {
    width: 25px;
    height: 25px;
  }
  .homeBookingsContainer {
    font-size: 12px;
  }
  .firstInputs {
    font-size: 12px;
  }
  .firstInputs fieldset {
    padding: 1px;
  }
  .firstInputs input:not([type="checkbox"]) {
    width: 5px;
  }
  textarea {
    width: 250px;
  }
  .whoOwns {
    font-size: 13px;
  }
  .homeOwner {
    height: 20px;
  }
  .boyCat {
    margin-top: 30px;
    width: 200px;
    height: 200px;
  }
  .createHomeContainer h1 {
    margin-top: 0;
  }
  .createHomeForm {
    width: 300px;
    min-height: 600px;
  }
  .createHomeForm input:not([type="checkbox"]) {
    margin-top: 7px;
    width: 200px;
  }
  .previewContainer {
    margin-top: -25px;
  }
}
