.tabs {
  display: flex;
  padding-top: 30px;
  margin: 0 0 10px 0;
  position: relative;
}

.tabs a {
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px 5px;
  margin-right: 6px;
  background-color: whitesmoke;
  transition: all 0.3s;
}

.tabs a:hover {
  color: #d8ad2e;
}

.tabs .active {
  background-color: #f5c634;
  transform: scale(1.1);
}

.tabs::after {
  height: 40px;
  content: "";
  position: absolute;
  left: -10px;
  right: -10px;
  top: 35px;
}

.tabsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabOption {
  border-radius: 5px;
}

.ratingsContainer {
  display: flex;
}

.ratingsContainer .fullStar {
  background: url("../icons/estrella.png") no-repeat;
  background-size: cover;
  width: 18px;
  height: 18px;
}

.ratingsContainer .emptyStar {
  background: url("../icons/estrella2.png") no-repeat;
  background-size: cover;
  width: 18px;
  height: 18px;
}

.pageMap .leaflet-container {
  height: 400px;
  width: 400px;
  border: 1px solid black;
  border-radius: 5px;
}

@media screen and (max-width: 1300px) {
  .pageMap .leaflet-container {
    height: 250px;
    width: 250px;
  }
}

@media screen and (max-width: 700px) {
  .pageMap .leaflet-container {
    height: 150px;
    width: 150px;
  }
  .ratingsContainer .fullStar {
    width: 15px;
    height: 15px;
  }

  .ratingsContainer .emptyStar {
    width: 15px;
    height: 15px;
  }
}

@media screen and (max-width: 430px) {
  .ratingsContainer .fullStar {
    width: 10px;
    height: 10px;
  }

  .ratingsContainer .emptyStar {
    width: 10px;
    height: 10px;
  }
  .tabs {
    width: 180px;
    justify-content: center;
    margin: 10px 0 10px 0;
  }
  .tabs a {
    font-size: 12px;
    height: 15px;
  }
}
